body{
    padding: 0%;
    margin: 0%;
    font-family: 'Baloo Bhaina 2', cursive;
    background: #F8F8F8;
    
}
.uppernavigation{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: #3d3b3b;
    color:#CFCFCF ;
}

#linklist{
   
    list-style: none;
    margin-right: 40px;
    
    
    
}
#linklist li{
    display: block;
    margin-right: 64px;
    float: right;
    text-align: center;

    -ms-transform: translateY(-35%);
     transform: translateY(-35%);
    
}
#linklist a{
    text-decoration: none;
    display: block;
    color:#808080 ;
    font-size: 14px;
   font-weight: normal;
  


    
}

#linklist a:hover{
    color: aliceblue;
    border-bottom: rgb(28, 164, 173) 1px solid ;
}




nav{
    z-index: 12;
    margin-top: 40px ;
    width: 100%;
    height: 80px;
    top: 0;
    box-shadow: 0px 3px 6px #ACACAC ;
    position: sticky;
    background: rgb(255, 255, 255);
}


#logo{
    width: 120px ;
    height: 30px;
    margin-left: 64px;
    margin-top: 20px;
}

#mainmenu{
    
   margin-top: -40px;
    list-style: none;
    margin-left: 480px;
    padding-top: -50px;
    
    
}
#mainmenu li{
     
     text-align: center;
     float: left;
    margin-left: 50px;
    
   
    


}
#mainmenu a{
    display: block;
    text-decoration: none;
    color: #646464;
    font-weight: 500;
    

}



#mainmenu a:hover{
    color: #EE1C25;
    border-bottom: #EE1C25 2px solid;
}

#currentpage:visited{
    border-bottom: #EE1C25 2px solid;
    color: #EE1C25;
    font-size: 44px;
  
}

.heroimage img{
    width: 100%;
    height: 1100px;
}

.coloroverlay{
    position: absolute;
    width: 100%;
    height: 1100px;
    background: black;
    top: 120px;
    opacity: 20%;
}

.heroimage h2{
    position: absolute;
    top: 320px;
    float: left;
    margin-left: 180px;
    z-index: 2;
    color: whitesmoke;
    font-size: 102px;
    font-weight: bold;
    line-height: 100px;
}

.heroimage p{
    position: absolute;
    top: 590px;
    float: left;
    margin-left: 180px;
    z-index: 2;
    color: whitesmoke;
    font-family: 'Roboto',sans-serif;
    line-height: 20px;
    font-size: 18;
    
}

#phoness{
    height: 500px;
    width: 320px;
    position: relative;
    z-index: 2;
   float: right;
   margin-top: -480px;
   margin-right: 200px;
   transform: rotate(270deg);
}

#presentaion{
    width: 100%;
    position: relative;
    z-index: -2;
    margin-top: -910px;
}
